$primary-color: #0f0f0f;
$secondary-color: #313131;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@function set-test-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return white;
  }
}
